<form>
Enter the Id: <input type="text" name="id" id="cy_id" ng-model="insertid"><br>
Enter the Name: <input type="text" name="name" id="cy_name" ng-model="insertname"><br>
Enter the Description: <input type="text" name="cy_description" id="cy_description" ng-model="insertdescription">

        <button ng-click="save()" class="btn btn-success">insert</button>
        <br>
        <button ng-click="myFunc3()" class="btn btn-danger">Back to user page</button>
      
</form>