<div class="well col-md-4">
<form name="myForm" novalidate>

		<p>Username:<br>
		<input type="text" name="name" ng-model="name" required>
		<span style="color:blue" ng-show="myForm.name.$invalid">
		<span ng-show="myForm.name.$error.required">Username is required.</span>
		</span>
		</p>

		<p>Email:<br>
		<input type="email" name="email" ng-model="email" required>
		<span style="color:blue" ng-show="myForm.email.$invalid">
		<span ng-show="myForm.email.$error.required">Email is required.</span>
		<span ng-show="myForm.email.$error.email">Invalid email address.</span>
		</span>
		</p>
		<p>
		 <button ng-click="myFunction()" ng-disabled=" myForm.name.$invalid ||  myForm.email.$invalid" class="btn btn-success">login</button> 
		</p>
		<h3>{{myUrl}}</h3>
		<h1>{{hex}}</h1>
		<ul>
  <li ng-repeat="x in myData">
    {{ x.id + ', ' + x.label }}
  </li>
</ul>
 <button ng-click="myFunc()">click</button> 
</form>
</div>