<button ng-click="myFunc7()" class="btn btn-danger">Back to user page</button>
<div ng-repeat="message in messages">

     id: {{message.id}} <br/>
     name: {{message.name}} <br/>
     description: {{message.description}} <br/>
</div>

