<form ng-init="getData()">
Enter the Id: 
<input type="text" name=""  ng-model="message.id" disabled=true><br>
Enter the Name: 
<input type="text" name="" ng-model="message.name"><br>
Enter the Description: 
<input type="text" name=""  ng-model="message.description">
<button  class="btn btn-success" ng-click="update()">update</button>
</form>
    <button ng-click="myFunc9()" class="btn btn-danger">Back to user page</button>
    
