<div class="well">
    <!-- <h1>My todo list</h1> -->
     <h1><solid>My todo list</solid></h1>
    <p><solid>You are redirected here from login page. This app can show, insert, update and delete the record.</solid></p>
    <p>{{username}}</p>
    <button ng-click="myFunction1()" class="btn btn-danger">Back to login page</button>

<br>
    <form ng-submit="todoAdd()">
      
        <button ng-click="myFunc5()" class="btn btn-danger" style="margin-top: 4px">Show all data</button> 
        <button ng-click="myFunc2()" class="btn btn-danger" style="margin-top: 4px">Go to insert page</button> 
        <button ng-click="myFunc11()" class="btn btn-danger" style="margin-top: 4px">Go to update page</button> 
        
    </form>
<br>
<div ng-repeat="message in messages">
    <input type="checkbox" ng-model="message.done" > <span> {{message.name}} </span> 
    <button ng-click=showPage(message.id) class="btn btn-success" style="margin-top: 4px"> Show Page</button>
    <button ng-click=updatePage(message.id) class="btn btn-success" style="margin-top: 4px"> Goto Update Page</button>
    <button ng-click="remove($index)" class="btn btn-success" style="margin-top: 4px">Delete name</button>
</div>
</div> 


